<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="File-Appender" class="ch.qos.logback.core.FileAppender">
        <file>logfile.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %5p \(%t\) [%c{1}] %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="File-Appender" />
    </root>

</configuration>